pkgbase = resticprofile-bin
	pkgdesc = Configuration profiles for restic backup. Pre-compiled
	pkgver = 0.27.1
	pkgrel = 1
	url = https://github.com/creativeprojects/resticprofile
	arch = x86_64
	arch = aarch64
	arch = armv6h
	arch = armv7h
	license = GPL3
	depends = restic
	provides = resticprofile
	conflicts = resticprofile
	source_x86_64 = https://github.com/creativeprojects/resticprofile/releases/download/v0.27.1/resticprofile_0.27.1_linux_amd64.tar.gz
	sha256sums_x86_64 = 04429ce982cef135fda595c81f1226e3ac6efd72c7c759bf5804bbb38841d70b
	source_aarch64 = https://github.com/creativeprojects/resticprofile/releases/download/v0.27.1/resticprofile_0.27.1_linux_arm64.tar.gz
	sha256sums_aarch64 = 047660853a89d6431dfd7964d7fd43810c9f6856b68ac8f1c6c41f74988f9baf
	source_armv6h = https://github.com/creativeprojects/resticprofile/releases/download/v0.27.1/resticprofile_0.27.1_linux_armv6.tar.gz
	sha256sums_armv6h = 6cf11415c6f975a4682a5a9d3587ec5a45e8f0014a02c29338c95795095acef5
	source_armv7h = https://github.com/creativeprojects/resticprofile/releases/download/v0.27.1/resticprofile_0.27.1_linux_armv7.tar.gz
	sha256sums_armv7h = 5ad0efa4c5888361b28a0a6e9aab86ebde59594fdc76b0d6b3ff4e27ae9603d5

pkgname = resticprofile-bin
