pkgbase = resticprofile-bin
	pkgdesc = Configuration profiles for restic backup. Pre-compiled
	pkgver = 0.29.1
	pkgrel = 1
	url = https://github.com/creativeprojects/resticprofile
	arch = x86_64
	arch = aarch64
	arch = armv6h
	arch = armv7h
	license = GPL3
	depends = restic
	provides = resticprofile
	conflicts = resticprofile
	source_x86_64 = https://github.com/creativeprojects/resticprofile/releases/download/v0.29.1/resticprofile_0.29.1_linux_amd64.tar.gz
	sha256sums_x86_64 = 883bbf33316a190ea3e4a96a31121c2898fedc7b7c2a48bcf7dbb6fc20305807
	source_aarch64 = https://github.com/creativeprojects/resticprofile/releases/download/v0.29.1/resticprofile_0.29.1_linux_arm64.tar.gz
	sha256sums_aarch64 = ff4ec300b0c91a25233b1c899d9b6b758bc326ac89710807a6c576e0a8f60b80
	source_armv6h = https://github.com/creativeprojects/resticprofile/releases/download/v0.29.1/resticprofile_0.29.1_linux_armv6.tar.gz
	sha256sums_armv6h = 2fd4c77d8152a8d0e5c6ed09e428b4d3531d4e7bcd090a722e35ee67bbb14b21
	source_armv7h = https://github.com/creativeprojects/resticprofile/releases/download/v0.29.1/resticprofile_0.29.1_linux_armv7.tar.gz
	sha256sums_armv7h = 9c25e8d94c3880be10ce3a6b46d33c3cc476569173b470b9615c5bc099630621

pkgname = resticprofile-bin
