pkgbase = resticprofile-bin
	pkgdesc = Configuration profiles for restic backup. Pre-compiled
	pkgver = 0.28.1
	pkgrel = 1
	url = https://github.com/creativeprojects/resticprofile
	arch = x86_64
	arch = aarch64
	arch = armv6h
	arch = armv7h
	license = GPL3
	depends = restic
	provides = resticprofile
	conflicts = resticprofile
	source_x86_64 = https://github.com/creativeprojects/resticprofile/releases/download/v0.28.1/resticprofile_0.28.1_linux_amd64.tar.gz
	sha256sums_x86_64 = e0a0d1a18634364d2304a818f650e8b9b9d442d89a0e16ce45274b3cc366736b
	source_aarch64 = https://github.com/creativeprojects/resticprofile/releases/download/v0.28.1/resticprofile_0.28.1_linux_arm64.tar.gz
	sha256sums_aarch64 = 322c20eba05edbff6aa8723ecba66e698822ed7741cb2be66132db027b0f1e4d
	source_armv6h = https://github.com/creativeprojects/resticprofile/releases/download/v0.28.1/resticprofile_0.28.1_linux_armv6.tar.gz
	sha256sums_armv6h = d1ef07645ea3310d3f030df8cb3a292a7a6e46a34de2074307a914ba3c90bc51
	source_armv7h = https://github.com/creativeprojects/resticprofile/releases/download/v0.28.1/resticprofile_0.28.1_linux_armv7.tar.gz
	sha256sums_armv7h = 86fdcb5fec9f208cacbed12aa4dd13596a49e2e2da6b7e5b6e5b7265c0f98ed8

pkgname = resticprofile-bin
